<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/dashboard.css">
        <script type="module" src="../js/guardian.js"></script>
        <title>DashBoard</title>
    </head>
    <body>
        <header>
            <h1>Welcome to the Store</h1>
            <h2>Panel Control</h2>
            <nav>
                <button type="submit" id="btn-logout">Log Out</button>
            </nav>
        </header>
        <main>
            <section>
                <h3>Dashboard</h3>
                <p>Here you can manage your store's categories, movements, and
                    reports.</p>
                <button id="btn-categories">Categories</button>
                <button>Movements</button>
                <button>Reports</button>
            </section>

        </main>
        <footer>
            <p>&copy; 2025 <em>Wilffren Muñoz</em></p>
            <p>All rights reserved.</p>
        </footer>
        <script type="module" src="../js/dashboard.js"></script>
    </body>
</html>