<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../js/guardian.js"></script>
    <title>DashBoard</title>
</head>
<body>
    <header>
        <h1>Welcome to the Store</h1>
        <h2>Panel Control</h2>
        <nav>
            <button type="submit" id="btn-logout">Log Out</button>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
    <script type="module" src="../js/dashboard.js"></script>
</body>
</html>