<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/movements.css">
        <script type="module" src="../js/guardian.js"></script>
        <title>DashBoard</title>
    </head>
    <body>
        <header>
            <h1>Welcome to the Store</h1>
            <h2>Panel Control</h2>
            <nav>
                <button type="submit" id="return">Return Dashborad</button>
            </nav>
        </header>
        <main>

        </main>
        <footer>
            <p>&copy; 2025 <em>Wilffren Muñoz</em></p>
            <p>All rights reserved.</p>
        </footer>
        <script type="module" src="../js/movements.js"></script>
    </body>
</html>